#about {
  padding: 64px 0;
  background: rgba(221, 223, 254, 0.80);
}

#about .mobile-hero {
  display: none;
}

#about .general-container {
  margin-bottom: 64px;
}

#about h3 .highlight {
  background-color: #C9CBFF;
}

#about h2 .highlight {
  background-color: var(--vantage-purple);
}

#about h2 span,
#about h3 span {
  font-family: inherit;
}

#about hr {
  margin: 24px 0;
  border: 1px solid #7C7C7C;
}

#about .desc-chips-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 64px;
  row-gap: 24px;
}

#about .desc-chips-container .categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: flex-start;
  row-gap: 12px;
  column-gap: 12px;
}

#about .desc-chips-container .writeup p {
  font-size: var(--body-xl-font-size);
  line-height: 140%;
}

#about .desc-chips-container .writeup p:not(:last-child) {
  margin: 0 0 32px;
}

#about .photos-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "p1 p3 p4" "p2 p3 p5";
  row-gap: 32px;
  column-gap: 32px;

  height: 600px;
  overflow-x: clip;
}

#about .photos-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;

  position: relative;
  z-index: 1;
}

#about .photos-container > div {
  border-radius: 4px;

  transform: translate(16px, 16px);

  background-color: var(--bg-color, var(--vantage-purple));
}

#about .photos-container img:first-of-type {
  grid-area: p1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#about .photos-container img:nth-of-type(2) {
  grid-area: p2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#about .photos-container img:nth-of-type(3) {
  grid-area: p3;
}

#about .photos-container img:nth-of-type(4) {
  grid-area: p4;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#about .photos-container img:nth-of-type(5) {
  grid-area: p5;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#about .photos-container div:first-of-type {
  grid-area: p1;
}

#about .photos-container div:nth-of-type(2) {
  grid-area: p2;
}

#about .photos-container div:nth-of-type(3) {
  grid-area: p3;
}

#about .photos-container div:nth-of-type(4) {
  grid-area: p4;
}

#about .photos-container div:nth-of-type(5) {
  grid-area: p5;
}

@media screen and (min-width: 1440px) {
  #about .photos-container {
    height: unset;
  }
}

@media screen and (max-width: 1200px) {
  #about {
    padding: 52px 0 64px;
  }

  #about .general-container {
    margin-bottom: 56px;
  }

  #about .photos-container {
    height: 500px;
  }
}

@media screen and (max-width: 992px) {
  #about {
    padding: 40px 0 64px;
  }

  #about .general-container {
    margin-bottom: 48px;
  }

  #about .photos-container {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  #about {
    padding: 28px 0 64px;
  }

  #about .general-container {
    margin-bottom: 44px;
  }

  #about .desc-chips-container {
    grid-template-columns: 1fr;
  }

  #about .desc-chips-container .categories {
    justify-content: flex-start;
  }

  #about .photos-container {
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  #about {
    padding: 0 0 64px;
  }

  #about .mobile-hero {
    display: block;

    background-position: center !important;
    background-size: cover !important;
    padding: 32px;

    color: white;
  }

  #about .general-container {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #about .general-container > h3,
  #about .general-container > hr {
    display: none;
  }

  #about .desc-chips-container .categories {
    display: none;
  }

  #about .photos-container {
    height: unset;
    padding: 0 16px;

    column-gap: 12px;
    row-gap: 12px;
    grid-template-areas: "p1 p2" "p3 p3" "p4 p5";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
  }

  #about .photos-container img {
    height: 100%;
  }

  #about .photos-container > div {
    display: none;
    transform: translate(8px, 8px);
  }
}