.categ-hero {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;

  position: relative;
  margin: 0 0 48px;
}

.categ-hero .bg-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  opacity: 20%;
  border-bottom-right-radius: 32px;
}

.categ-hero .bookmark {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 24px;
  align-self: stretch;
  z-index: 2;

  padding: 40px 90px 40px 120px;
  border-bottom-right-radius: 32px;
}

.categ-hero .bookmark img {
  height: 72px;
}

.categ-hero .name {
  font-size: 72px;
  color: white;
}

.categ-hero .desc {
  position: relative;
  z-index: 2;

  padding: 60px 120px 60px 80px;

  font-weight: 500;
  font-size: var(--body-xl-font-size);
}

.categ-container .latest-container {
  display: grid;
  grid-template-areas: "l1 l2" "l1 l3";
  grid-template-columns: 5fr 4fr;
  grid-auto-rows: auto;
  column-gap: 32px;
  row-gap: 32px;

  margin: 0 0 72px;
}

.categ-container .latest-container .article:first-of-type .thumbnail-container {
  margin: 0 0 20px;
}

.categ-container .latest-container .article:first-of-type .title {
  margin: 0 0 16px;

  font-size: var(--h4-font-size);
}

.categ-container .latest-container .article:first-of-type .excerpt {
  margin: 0 0 16px;
}

.categ-container .latest-container .article:not(:first-of-type) {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
}

.categ-container .latest-container .article:not(:first-of-type) .thumbnail-container {
  width: 200px;
}
