.categ-hero {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;

  position: relative;
}

.categ-hero .bg-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  opacity: 20%;
  border-bottom-right-radius: 32px;
}

.categ-hero .bookmark {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 24px;
  align-self: stretch;
  z-index: 2;
  justify-content: center;

  padding: 40px 80px;
  border-bottom-right-radius: 32px;
}

.categ-hero .bookmark img {
  height: var(--h2-font-size);
}

.categ-hero .bookmark .name {
  /* font-size: var(--h2-font-size); */
  color: white;
}

.categ-hero .desc {
  position: relative;
  z-index: 2;

  padding: 60px 120px 60px 80px;

  font-weight: 500;
  font-size: var(--body-xl-font-size);
}

.categ-container {
  padding-top: 48px;
  padding-bottom: 80px;
}

.categ-container .latest-container {
  display: grid;
  grid-template-areas: "l1 l2" "l1 l3";
  grid-template-columns: 5fr 4fr;
  grid-auto-rows: auto;
  column-gap: 32px;
  row-gap: 32px;

  margin: 0 0 72px;
}

.categ-container .latest-container .article .title {
  font-size: var(--body-l-font-size);
}

.categ-container .latest-container .article:first-of-type {
  row-gap: 20px;
}

.categ-container .latest-container .article:first-of-type .title {
  margin: 0 0 16px;

  font-size: var(--h4-font-size);
}

.categ-container .latest-container .article:first-of-type .excerpt {
  margin: 0 0 16px;
}

.categ-container .latest-container .article:not(:first-of-type) {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 24px;
}

.categ-container .latest-container .article:not(:first-of-type) .thumbnail-container {
  width: 200px;
}

.categ-container .latest-container .article:not(:first-of-type) .info {
  justify-content: center;
}

.categ-container .latest-container .article:not(:first-of-type) .authors {
  margin-top: 0;
}


.categ-container .all-articles-container .heading-container {
  margin: 0 0 24px;
}

.categ-container .all-articles-container .articles-grid {
  margin: 0 0 56px;
}

@media screen and (max-width: 1200px) {
  .categ-hero .bookmark {
    padding: 32px 68px;
  }

  .categ-hero .desc {
    padding: 48px 96px 48px 64px;
  }

  .categ-hero .bookmark img {
    height: var(--h3-font-size);
  }

  .categ-hero .bookmark .name {
    font-size: var(--h3-font-size);
  }
  
  .categ-container {
    padding-top: 40px;
    padding-bottom: 68px;
  }

  .categ-container .latest-container {
    margin: 0 0 64px;
  }

  .categ-container .latest-container .article .authors {
    margin-top: 0;
  }

  .categ-container .all-articles-container .articles-grid {
    margin: 0 0 44px;
  }
}

@media screen and (max-width: 992px) {
  .categ-hero .bookmark {
    padding: 24px 56px;
  }

  .categ-hero .desc {
    padding: 40px 72px 40px 48px;
  }
  
  .categ-container {
    padding-top: 32px;
    padding-bottom: 56px;
  }
  
  .categ-container .latest-container {
    margin: 0 0 56px;
  }

  .categ-container .all-articles-container .articles-grid {
    margin: 0 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .categ-hero .bookmark {
    padding: 20px 44px;
  }

  .categ-hero .desc {
    padding: 32px 48px 32px 36px;
  }

  .categ-container {
    padding-top: 28px;
    padding-bottom: 48px;
  }

  .categ-container .latest-container {
    grid-template-areas: "l1 l1" "l2 l3";
    grid-template-columns: 1fr 1fr;

    margin: 0 0 48px;
  }

  .categ-container .latest-container .article {
    row-gap: 18px !important;
  }

  .categ-container .latest-container .article .authors {
    margin-top: auto;
  }

  .categ-container .latest-container .article:first-of-type .thumbnail-container {
    width: 100%;
  }

  .categ-container .latest-container .article:not(:first-of-type) {
    flex-flow: column nowrap;
  }
  
  .categ-container .latest-container .article:not(:first-of-type) .thumbnail-container {
    width: 100%;
  }

  .categ-container .all-articles-container .articles-grid {
    margin: 0 0 36px;
  }
}

@media screen and (max-width: 576px) {
  .categ-hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .categ-hero .bg-transparent {
    border-radius: 0;
  }

  .categ-hero .bookmark {
    padding: 16px 32px;
    justify-content: center;
    column-gap: 8px;

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .categ-hero .bookmark img {
    height: var(--h2-font-size);
  }

  .categ-hero .bookmark .name {
    font-size: var(--h2-font-size);
  }

  .categ-hero .desc {
    padding: 24px;
  }

  .categ-container {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .categ-container .latest-container {
    grid-template-areas: "l1" "l2" "l3";
    grid-template-columns: 1fr;
    row-gap: 24px;

    margin: 0 0 40px;
  }

  .categ-container .latest-container .article {
    flex-flow: column nowrap !important;
    row-gap: 12px !important;
  }

  .categ-container .latest-container .article .thumbnail-container {
    width: 100% !important;
    height: 156px;
  }

  .categ-container .latest-container .article .title {
    font-size: var(--body-font-size);
  }
  
  .categ-container .latest-container .article:first-of-type .title {
    margin: 0 0 4px;
    font-size: var(--body-font-size);
  }

  .categ-container .latest-container .article:first-of-type .excerpt {
    margin: 0 0 4px;
  }

  .categ-container .all-articles-container .heading-container {
    margin: 0 0 20px;
  }

  .categ-container .all-articles-container .articles-grid {
    margin: 0 0 32px;
  }
}