@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: Calluna;
  src: url("./../fonts/Calluna/CALLUNA-LIGHT.OTF");
  font-weight: light;
}

@font-face {
  font-family: Calluna;
  src: url("./../fonts/Calluna/CALLUNA-REGULAR.OTF");
  font-weight: normal;
}

@font-face {
  font-family: Calluna;
  src: url("./../fonts/Calluna/CALLUNA-BOLD.OTF");
  font-weight: bold;
}

@font-face {
  font-family: Calluna;
  src: url("./../fonts/Calluna/CALLUNA-BLACK.OTF");
  font-weight: bolder;
}
