footer {
    margin: 0;
    padding: 0;
    display: block;
    background-color: #5D61BA;
}

footer > .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 60px 160px;
}

.footer-container .left-flex {
    margin-right: 10rem;
}

.footer-container .left-flex p {
    margin-bottom: 15px;
}

.footer-container .right-flex {
    margin-left: 10rem;
}

.footer-container .right-flex .category-title {
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 16px;
    list-style-type: none;
}
.grid-item {
    padding: 20px;
    text-align: left;
}

footer .footer-container .left-flex .footer-title {
    margin-bottom: -10px;
    padding: 0;
}

.footer-title img {
    height: auto; 
    width: auto; 
    max-width: 500px;
    margin-left: -30px;
}

.footer-title-right h3 {
    font-family: Calluna;
}

.grid-container .grid-item a li {
    list-style-type: none;
    text-align: left;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .footer-container {
        flex-flow: row wrap;
    }

    .left-flex, .right-flex {
        margin-top: 5rem;
    }
}