.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5D61BA;
    color: #FFFFFF;
    width: 100%;
    max-width: 100%;
    padding: 60px 160px;
    margin: 0 auto;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.footer-title-left img {
    height: auto; 
    width: auto; 
    max-width: 5rem; 
    max-height: 5rem;
}

.footer-title-right {
    margin-left: 1rem;
}

.footer-title-right h3 {
    font-family: Calluna;
}

ul li {
    list-style-type: none;
    margin: 0.5rem 0;
}

.category-title {
    margin-bottom: .5rem;
}

.category-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-items ul {
    margin-right: 4rem;
}

.ul-right {
    text-indent: -40%;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .footer-container {
        flex-flow: row wrap;
    }

    .left-flex, .right-flex {
        margin-top: 5rem;
    }
}