*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
}

html.no-scroll,
body.no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

:root {
  --vantage-purple-light: #dddffe;
  --vantage-purple: #5d61ba;
  --texas-rose: #fda94f;
  --burnt-sienna: #ed6356;
  --geraldine: #f99a94;
  --science-blue: #006ecd;
  --mountain-meadow: #15cc70;

  --food: #f9a524;
  --tv-film: #ef3e68;
  --theater-arts: #755489;
  --music: #b5c932;
  --guidon-blue: #1c4481;
  --hub: #3dbb95;
  --hype: #d63ba3;

  --h1-font-size: 112px;
  --h2-font-size: 72px;
  --h3-font-size: 48px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 20px;

  --body-xl-font-size: 20px;
  --body-l-font-size: 18px;
  --body-font-size: 16px;
  --body-s-font-size: 14px;
  --body-xs-font-size: 12px;
  --body-xxs-font-size: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

h1,
.h1 {
  font-family: "Calluna";
  font-size: 112px;
}

h2,
.h2 {
  font-family: "Calluna";
  font-size: 72px;
}

h3,
.h3 {
  font-family: "Calluna";
  font-size: 48px;
}

h4,
.h4 {
  font-family: "Calluna";
  font-size: 32px;
}

h5,
.h5 {
  font-family: "Calluna";
  font-size: 24px;
}

h6,
.h6 {
  font-family: "Calluna";
  font-size: 20px;
}

/* loading animation */
.loading-anim {
  background: linear-gradient(
    to right,
    #f7f7f7 0%,
    #f7f7f7 25%,
    #e2e2e2 45%,
    #e2e2e2 55%,
    #f7f7f7 75%,
    #f7f7f7 100%
  );
  background-size: 400% 100%;

  animation-name: loading-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes loading-animation {
  from {
    background-position-x: 100%;
  }

  to {
    background-position-x: 0%;
  }
}

/* chip */
.chip {
  color: white;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--music);

  padding: 4px 8px;
  border-radius: 64px;
  width: fit-content;
  min-height: 28px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 4px;

  text-decoration: none;
}

.chip > img {
  width: 16px;
  height: 16px;
}

/* grid */
.articles-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

/* article */
.article {
  display: flex;
  flex-flow: column nowrap;

  row-gap: 24px;

  text-decoration: none;
  color: black;
}

.article .thumbnail-container {
  overflow: clip;
  border-radius: 4px;
  height: 200px;
  
  flex-shrink: 0;
}

.article .thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;

  transition: 0.2s;
  overflow: clip;
}

.article:hover .thumbnail {
  transform: scale(1.05);
}

.article .info {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

/* .article .chip {
} */

.article .title {
  font-weight: bold;
  font-size: var(--body-l-font-size);
  font-family: "Roboto", sans-serif;

  word-break: break-word;

  margin: 0 0 8px;
}

.article .excerpt {
  font-size: var(--body-s-font-size);
  margin: 0 0 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article .authors {
  text-decoration: none;
  font-size: var(--body-s-font-size);
  color: #737373;
  text-transform: uppercase;
  font-weight: bold;

  margin: auto 0 0;
}

.article .date {
  font-size: var(--body-s-font-size);
  color: #737373;
  text-transform: uppercase;
}

.article .authors-date {
  display: none;
}

#load-more {
  background-color: var(--vantage-purple-light);
  padding: 6px 64px;
  border: none;
  border-radius: 16px;
  display: block;
  cursor: pointer;

  color: var(--vantage-purple);
  font-size: var(--body-s-font-size);
  font-weight: bold;
  text-transform: uppercase;
}

/* heading container */
.heading-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 12px;

  font-weight: bold;
}

.heading-container .line {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}

/* layouts */
.general-container {
  padding: 0 120px;
}

@media screen and (max-width: 1200px) {
  .articles-grid {
    column-gap: 32px;
    row-gap: 32px;
  }

  .article .thumbnail-container {
    height: 172px;
  }

  .general-container {
    padding: 0 88px;
  }
}

@media screen and (max-width: 992px) {
  .articles-grid {
    column-gap: 28px;
    row-gap: 28px;
  }

  .article .thumbnail-container {
    height: 148px;
  }

  .general-container {
    padding: 0 64px;
  }
}

@media screen and (max-width: 768px) {
  .articles-grid {
    column-gap: 24px;
    row-gap: 24px;
  }

  .article .thumbnail-container {
    height: 124px;
  }

  .general-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --h4-font-size: 22px;
    --h5-font-size: 20px;
    --h6-font-size: 18px;
  
    --body-xl-font-size: 20px;
    --body-l-font-size: 18px;
    --body-font-size: 16px;
    --body-s-font-size: 14px;
    --body-xs-font-size: 12px;
    --body-xxs-font-size: 10px;
  }

  h1,
  .h1 {
    font-size: 40px;
  }
  
  h2,
  .h2 {
    font-size: 32px;
  }
  
  h3,
  .h3 {
    font-size: 24px;
  }
  
  h4,
  .h4 {
    font-size: 22px;
  }
  
  h5,
  .h5 {
    font-size: 20px;
  }
  
  h6,
  .h6 {
    font-size: 18px;
  }

  .article {
    flex-flow: row nowrap;
    column-gap: 16px;
  }

  .article .thumbnail-container {
    width: 100px;
    height: 100px;
  }

  .article .title {
    margin: 0 0 4px;
    font-size: var(--body-font-size);
  }

  .article .excerpt {
    font-size: var(--body-xs-font-size);

    margin: 0 0 4px;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .article .authors {
    display: none;
  }

  .article .date {
    display: none;
  }

  .article .authors-date {
    display: block;
    margin: auto 0 0;

    color: #737373;
    font-size: var(--body-xs-font-size);
    text-transform: uppercase;
  }

  .articles-grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .general-container {
    padding: 0 16px;
  }
  
  #load-more {
    width: 100%;
    padding: 12px 40px;
    
    font-size: var(--body-xs-font-size);
  }
}