header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;
}

header .header-top {
  background-color: var(--vantage-purple);
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 12;

  height: 90px;
}

header .header-top .logo {
  display: block;
  height: 72px;
}

header .header-top .logo img {
  height: 100%;
  width: auto;
}

header nav {
  background-color: var(--vantage-purple);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  min-height: 48px;
  overflow-x: auto;
  position: relative;
  z-index: 12;

  padding: 0 16px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

header nav::-webkit-scrollbar {
  display: none;
}


header nav .nav-list {
  max-width: 1440px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;

  flex-direction: row;
  align-items: center;
  list-style-type: none;
  color: white;
}

header nav .nav-list li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

header nav .nav-list li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

header nav .nav-list li:not(:last-child)::after {
  display: inline-block;
  content: "•";
  font-weight: bold;

  margin: 0 20px;
}

header nav .nav-list .filler {
  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

header nav .nav-list .search-icon {
  cursor: pointer;
  width: 28px;
  height: 28px;

  margin-left: min(24px, auto);
}



header #search-bg-tint {
  opacity: 0;
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.5);

  transition: 0.3s;
}

header #search-bg-tint.active {
  opacity: 1;
  pointer-events: all;
}


header #search-bar-container {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--vantage-purple-light);

  transform: translate(0, -100%);
  transition: 0.3s;

  z-index: 11;
}

header #search-bar-container.active {
  transform: translate(0, 0);
}

header #search-bar-container svg {
  color: var(--vantage-purple);

  width: 24px;
  height: 24px;
}

header #search-bar-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 32px 24px;
}

header #search-bar-container .search-field {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 12px;

  padding: 16px 24px;
  border-radius: 32px;
  width: 100%;
  max-width: 1100px;
}

header #search-bar-container .search-field input {
  flex-grow: 1;
  border: none;

  font-size: var(--body-l-font-size);
}

header #search-bar-container .search-field input::placeholder {
  color: #6A757C;
}

header #search-bar-container .search-field input:focus {
  outline: none;
}

@media screen and (min-width: 1440px) {
  header nav {
    justify-content: center;
  }
}