/* article info */
#article-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "title image" "bar bar";

  width: 100%;
}

#article-info .title-container {
  grid-area: title;
  padding: 80px;

  display: flex;
  flex-flow: column nowrap;
  row-gap: 32px;
}

#article-info .title-container .chip {
  padding: 4px 12px;
  font-size: var(--body-xl-font-size);
}

#article-info .title-container .chip img {
  height: var(--body-xl-font-size);
}

#article-info .title-container .title {
  word-break: break-word;
}

#article-info .title-container .share {
  font-size: var(--body-font-size);
  color: #A7A7A7;
  text-transform: uppercase;
  font-weight: bold;

  margin: 0 0 8px;
}

#article-info .title-container .socmed-icons {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
}

#article-info .title-container .socmed-icons .icon {
  display: block;
  width: 24px;
  height: 24px;

  background-color: #6B6B6B;
  mask-size: contain;
}

#article-info .featured-image-container {
  background-size: cover;
  background-position: center;
}

#article-info .featured-image-container img {
  display: none;
}

#article-info img.featured {
  grid-area: image;
  width: 100%;
  height: 100%;
  background-color: var(--vantage-purple-light);

  object-fit: cover;
  object-position: center;
}

#article-info .bar {
  grid-area: bar;
  background-color: var(--vantage-purple);

  padding: 64px 0;
}

#article-info .bar.no-blurb {
  padding: 24px 0;
}

#article-info .bar:not(.no-blurb) .general-container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  column-gap: 24px;
}

#article-info .bar .author-info .written-by {
  color: #F3F3F3;
  margin: 0 0 2px;
}

#article-info .bar .author-info .author {
  /* margin: 0 0 28px; */
  margin: 0 0 16px;
  color: white;
  font-family: "Calluna";
}

#article-info .bar .author-info .author a {
  text-decoration-color: transparent;
  transition: 0.2s;
}

#article-info .bar .author-info .author a:hover {
  text-decoration-color: white;
}

#article-info .bar .author-date .date {
  color: #F3F3F3;
  text-transform: uppercase;
}

#article-info .bar .blurb {
  font-size: var(--h3-font-size);
  color: white;
  text-align: left;
  font-family: Calluna;
}

/* content */
#article-content {
  max-width: calc(880px + 2 * 16px);
  padding: 40px 16px 72px;
}

#article-content p {
  margin: 0 0 32px;
  font-size: var(--body-xl-font-size);
  line-height: 140%;
}

#article-content a {
  color: var(--vantage-purple);
}

#article-content img {
  width: 100%;
  max-width: 500px;
}

/* suggested */
#article-suggested {
  margin-bottom: 40px;
}

#article-suggested .heading-container {
  margin: 0 0 24px;
}

#article-suggested .articles-grid {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
}

#article-suggested .articles-grid .article .thumbnail-container {
  height: 132px;
}

#article-suggested .articles-grid .article .excerpt {
  display: none;
}

@media screen and (max-width: 1200px) {
  #article-info .title-container {
    padding: 68px 64px;
  }

  #article-info .bar {
    padding: 56px 0;
  }

  #article-info .bar.no-blurb {
    padding: 24px 0;
  }

  #article-content {
    padding: 34px 16px 72px;
  }
}

@media screen and (max-width: 992px) {
  #article-info .title-container {
    padding: 56px 48px;
  }

  #article-info .bar {
    padding: 48px 0;
  }

  #article-info .bar.no-blurb {
    padding: 24px 0;
  }

  #article-content {
    padding: 28px 16px 72px;
  }
}

@media screen and (max-width: 768px) {
  #article-info .title-container {
    padding: 44px 32px;
  }

  #article-info .bar {
    padding: 40px 0;
  }

  #article-info .bar.no-blurb {
    padding: 32px 0;
  }

  #article-content {
    padding: 24px 16px 72px;
  }

  #article-suggested .articles-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  #article-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "title" "image" "bar";
  }

  #article-info .title-container {
    padding: 32px 16px;
    row-gap: 16px;
  }

  #article-info .title-container .chip {
    padding: 4px 8px;
    font-size: var(--body-s-font-size);
  }
  
  #article-info .title-container .chip img {
    height: var(--body-s-font-size);
  }

  #article-info .featured-image-container {
    height: fit-content;

    background-image: none !important;
  }

  #article-info .featured-image-container img {
    display: block;

    width: 100%;
    height: auto;
  }

  #article-info .bar {
    padding: 32px 0;
  }

  #article-info .bar .general-container {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  #article-info .bar .general-container .author-info .written-by {
    margin: 0 0 8px;
  }

  #article-info .bar .general-container .author-info .author {
    margin: 0 0 4px;
  }

  #article-content {
    padding: 20px 16px 72px;
  }

  #article-content p {
    font-size: var(--body-font-size);
    line-height: 150%;
  }

  #article-suggested .heading-container {
    margin: 0 0 20px;
  }

  #article-suggested .articles-grid {
    grid-template-columns: 1fr;
  }

  #article-suggested .articles-grid .article .thumbnail-container {
    height: 100px;
  }
}