#index #all-content {
  margin-bottom: 80px;
}

#index #all-content .heading-container {
  margin: 0 0 24px;
}

#index #all-content .tab-selection {
  display: flex;
  /* flex-flow: row nowrap; */
  flex-flow: row wrap;
  column-gap: 32px;
  row-gap: 4px;

  margin: 0 0 24px;
  /* overflow-x: auto; */
}

#index #all-content .tab-selection button {
  /* flex-shrink: 0; */
  display: flex;
  flex-flow: row nowrap;
  column-gap: 8px;
  align-items: center;

  color: black;
  background: none;
  border: none;
  border-bottom: 3px solid #A7A7A7;

  padding: 4px 0;
  cursor: pointer;

  font-size: var(--body-l-font-size);
  font-weight: bold;
  text-transform: uppercase;
}

#index #all-content .tab-selection button.active {
  border-bottom-color: var(--active-color);
}

#index #all-content .tab-selection button .icon {
  mask-size: contain !important;
  width: var(--body-xl-font-size);
  height: var(--body-xl-font-size);

  background-color: #A7A7A7;
}

#index #all-content .tab-selection button.active .icon {
  background-color: var(--active-color);
}

#index #all-content .articles-grid {
  margin: 0 0 40px;
}

#index #all-content .tab {
  display: none;
}

#index #all-content .tab.active {
  display: grid;
}

#index #all-content .load-more {
  display: none;
}


#index #all-content .load-more.active {
  display: block;
}

@media screen and (max-width: 1200px) {
  #index #all-content {
    margin-bottom: 70px;
  }

  #index #all-content .heading-container {
    margin: 0 0 20px;
  }

  #index #all-content .articles-grid {
    margin: 0 0 38px;
  }
}

@media screen and (max-width: 992px) {
  #index #all-content {
    margin-bottom: 60px;
  }

  #index #all-content .heading-container {
    margin: 0 0 16px;
  }

  #index #all-content .articles-grid {
    margin: 0 0 36px;
  }
}

@media screen and (max-width: 768px) {
  #index #all-content {
    margin-bottom: 50px;
  }

  #index #all-content .heading-container {
    margin: 0 0 14px;
  }

  #index #all-content .articles-grid {
    margin: 0 0 34px;
  }
}

@media screen and (max-width: 576px) {
  #index #all-content {
    margin-bottom: 40px;
  }

  #index #all-content .heading-container {
    margin: 0 0 12px;
  }

  #index #all-content .tab-selection {
    column-gap: 16px;
  }

  #index #all-content .tab-selection button {
    font-size: var(--body-s-font-size);
  }

  #index #all-content .articles-grid {
    margin: 0 0 32px;
  }

  #index #all-content .article .excerpt {
    display: none;
  }
}