/* latest article */
#index .general-container {
  padding: 0 64px;
}

#index #hero {
  margin: 0 0 40px;
}

#index #hero .article {
  position: relative;
  min-height: 500px;
  padding: 40px;

  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#index #hero .article .general-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
  justify-content: center;

  width: 100%;
}

#index #hero .article .thumbnail-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;

  border-radius: 0;
  z-index: 1;
}

#index #hero .article > *:not(.thumbnail-container) {
  z-index: 2;
  /* text-shadow: 0px 0px 50px #00000099; */
}

#index #hero .article .title {
  font-size: var(--h2-font-size);
  font-family: "Calluna";
}

#index #hero .article .author-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 24px;
}

#index #hero .article .author-info .icon {
  width: 64px;
  height: 64px;
  border-radius: 64px;

  object-fit: cover;
  object-position: center;
}

#index #hero .article .author {
  font-weight: bold;

  margin: 0 0 2px;
}

#index #hero .article .date {
  color: white;
  text-transform: unset;
}



@media screen and (max-width: 1200px) {
  #index .general-container {
    padding: 0 52px;
  }
}

@media screen and (max-width: 992px) {
  #index .general-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  #index .general-container {
    padding: 0 28px;
  }
}

@media screen and (max-width: 576px) {
  #index .general-container {
    padding: 0 16px;
  }
}