/* latest article */
#index #hero {
  margin: 0 0 40px;
}

#index #hero .article {
  position: relative;
  min-height: 500px;
  padding: 120px 90px;

  color: white;

  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
  justify-content: center;
}

#index #hero .article .thumbnail-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;

  border-radius: 0;
  z-index: 1;
}

#index #hero .article > *:not(.thumbnail-container) {
  z-index: 2;
  /* text-shadow: 0px 0px 50px #00000099; */
}

#index #hero .article .title {
  font-size: var(--h2-font-size);
  font-family: "Calluna";
}

#index #hero .article .author-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 24px;
}

#index #hero .article .author-info .icon {
  width: 64px;
  height: 64px;
  border-radius: 64px;

  object-fit: cover;
  object-position: center;
}

#index #hero .article .author {
  font-weight: bold;

  margin: 0 0 2px;
}

#index #hero .article .date {
  color: white;
  text-transform: unset;
}


/* latest content */
#index .general-container {
  padding: 0 64px;
}

#index #latest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  column-gap: 40px;
  row-gap: 24px;
  grid-template-areas:
    "a0 a1 a3"
    "a0 a1 a3"
    "a0 a1 a4"
    "a0 a2 a4"
    "a0 a2 a5"
    "a0 a2 a5";
}

#index #latest .article:first-of-type .thumbnail-container,
#index #latest .article:nth-of-type(2) .thumbnail-container,
#index #latest .article:nth-of-type(3) .thumbnail-container {
  height: 200px;
}

#index #latest .article:nth-of-type(2) .thumbnail-container,
#index #latest .article:nth-of-type(3) .thumbnail-container {
  width: 187px;
}

#index #latest .article:nth-of-type(4) .thumbnail-container,
#index #latest .article:nth-of-type(5) .thumbnail-container,
#index #latest .article:nth-of-type(6) .thumbnail-container {
  width: 132px;
  height: 132px;
}

#index #latest .article:not(:first-of-type) {
  flex-flow: row nowrap;
  column-gap: 32px;
}

#index #latest .article:not(:first-of-type) .excerpt {
  display: none;
}

#index #latest .article .authors {
  margin-top: 0;
}


@media screen and (max-width: 1200px) {
  #index .general-container {
    padding: 0 52px;
  }
}

@media screen and (max-width: 992px) {
  #index .general-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  #index .general-container {
    padding: 0 28px;
  }
}

@media screen and (max-width: 576px) {
  #index .general-container {
    padding: 0 16px;
  }
}